<head>
<title>Welcome</title>
</head>

<body>
  <form action="/names" method="post">
    <label for="player_1_name">Player 1 name</label>
    <input type="text" name="player_1_name" placeholder="Enter name">
    <br>
    <label for="player_2_name">Player 2 name</label>
    <input type="text" name="player_2_name" placeholder="Enter name">
    <br>
    <input type="submit" value="Let's go!">
  </form>
</body>